


body{
    background-color: slateblue;
    text-align: justify;
    max-width: 600px;
    font-family: Arial, Helvetica, sans-serif;
        
}   

article{
    align-items: center;

}

button{
    background-color: plum;

}

ul {
    list-style: none; 
  }
  

  