


body{
    background-color: slateblue;
    text-align: justify;
    max-width: 700px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20em;
    color: plum;
        
}   

.title{
    color: plum;
    font-size: 1rem
}

h1{
    color: plum;
}

button{
    background-color: plum;
    color: slateblue;

}


  