
html{
    background-image: url("images/star-pixel.png");
}

body{
    background-color: slategrey;
    text-align: justify;
    max-width: 45rem;
    margin: 20rem;
    margin-top:1rem;
    margin-bottom: 1rem;
    color: plum;    
    padding: 2rem; 
}   

.title, h1{
    color: plum;
    font-family: 'Press Start 2P', cursive;
}

button{
    background-color: plum;
    color: slateblue;
    
}


img, iframe{
    width: 45rem;
    border: solid plum 0.2rem;
}

p, h4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.3rem;
}

button:link {
    text-decoration: none;
}
 button:hover {
    color: hotpink;
}

a{
    text-decoration: none;
}

#divider{
    border-top: solid 0.2rem plum;
}